<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/mui.css" rel="stylesheet" />
		<link href="css/mine.css" rel="stylesheet"/>
		<link rel="stylesheet" href="fonts/iconfont.css" />
	</head>

<body>
		<script src="js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
		
		<div class="widthauto bggreen conp white">
			<div class="width_ns con_justify">
				<div>
					<span>青岛</span>
					<span  class="mui-icon mui-icon-arrowdown"></span>
				</div>
				<div class="textcenter">
					<span>技师列表</span>
				</div>
				<div>
					<span class="iconfont icon-1"></span>
				</div>
			</div>
		</div>
		
		<div class="mui-content bgwhite black">
		    <div class="mui-row">
		        <div class="mui-col-sm-3 mui-col-xs-3">
		            <li class="mui-table-view-cell textcenter">
		                <div>
		           	    <img src="img/menu_massage.png"  width="100%" class="anniuimg"/>
		                </div>
		                <span class="textcenter zihao14">按摩</span>
		            </li>
		        </div>
		        <div class="mui-col-sm-3 mui-col-xs-3">
		            <li class="mui-table-view-cell textcenter">
		             <div>
		           	    <img src="img/menu_foot.png"width="100%" class="anniuimg"/>
		             </div>
		                <span class="textcenter zihao14">足疗</span>
		            </li>
		        </div>
		        <div class="mui-col-sm-3 mui-col-xs-3">
		            <li class="mui-table-view-cell textcenter">
		                <div>
		           	    <img src="img/menu_tuibei.png" width="100%" class="anniuimg"/>
		               </div>
		                <span class="textcenter zihao14">推背</span>
		            </li>
		                
		           
		        </div>
		        <div class="mui-col-sm-3 mui-col-xs-3">
		            <li class="mui-table-view-cell textcenter">
		                <div>
		           	<img src="img/menu_SPA.png" width="100%" class="anniuimg"/>
		           </div>
		           <span class="textcenter zihao14">全身SPA</span>
		            </li>
		        </div>
		    </div>
      </div>
      
	<div class="mui-content bgwhite kongxi selectpading boderbuttom">
	    <div class="mui-row">
	        <div class="mui-col-sm-3 mui-col-xs-3">
		            <li class="mui-table-view-cell textcenter" style="margin: 0; padding: 0;">
		                <div class="boderright">
		                <span class="grayw">全部</span>	<span class="iconfont icon-drop graymost"></span>
		                </div>
		            </li>
		    </div>
	        <div class="mui-col-sm-3 mui-col-xs-3">
		            <li class="mui-table-view-cell textcenter" style="margin: 0; padding: 0;">
		                <div class="boderright">
		                 <span class="grayw">全国</span>	<span class="iconfont icon-drop graymost"></span>
		                </div>
		            </li>
		    </div>
		    <div class="mui-col-sm-3 mui-col-xs-3">
		            <li class="mui-table-view-cell textcenter" style="margin: 0; padding: 0;">
		                <div class="boderright">
		                	<span class="grayw">年龄</span><span class="iconfont icon-drop graymost"></span>
		                </div>
		            </li>
		    </div>
		    <div class="mui-col-sm-3 mui-col-xs-3">
		            <li class="mui-table-view-cell textcenter" style="margin: 0; padding: 0;">
		                <div >
		                	<span class="grayw">经验</span><span class="iconfont icon-drop graymost"></span>
		                </div>
		            </li>
		    </div>
	    </div>	   
	</div>


   	<ul class="mui-content bgwhite ">
   		<li class="mui-row boderbuttom">
   			<div class="names">
   			<ul class="mui-col-sm-3 mui-col-xs-3 namescon">
		            <li class="" style="padding: 11px 8px;">
		                <img src="img/aver.png"  width="100%" class="imgyuan"/>
		            </li>
		    </ul>
   			<ul class="mui-col-sm-7 mui-col-xs-7">
   				<li class="" style="padding: 11px 0px; margin: 0;">
		            <div>
		            	<span class="zihao12">袁姗姗</span>&nbsp;&nbsp;
		            	<span class="zihao14">贵州24岁</span>
		            </div>
		            <div class="grayb">
		            	<span >擅长：泰式按摩、精油推背等</span>
		            </div>
		            <div class="gray">
		             	<span >三年经验</span>&nbsp;<span >共接单109单</span>
		            </div>
		       </li>
		    </ul>
		   
		    <ul class="mui-col-sm-2 mui-col-xs-2 " >
		    	<li class="" style="padding: 11px 8px 11px 0;margin: 0;">
		            <div class="green textcenter">
		            	<span >￥</span><span class="zihao16 ftw700">128</span>
		            </div>
		            <div class="zihao14 textcenter ">去看看</div>
		         </li>    
		    </ul>
		</div>     
   		</li>
   	    <li class="mui-row boderbuttom">
   			<div class="names">
   			<ul class="mui-col-sm-3 mui-col-xs-3 namescon">
		            <li class="" style="padding: 11px 8px;">
		                <img src="img/aver.png"  width="100%" class="imgyuan"/>
		            </li>
		    </ul>
   			<ul class="mui-col-sm-7 mui-col-xs-7">
   				<li class="" style="padding: 11px 0px; margin: 0;">
		            <div>
		            	<span class="zihao12">袁姗姗</span>&nbsp;&nbsp;
		            	<span class="zihao14">贵州24岁</span>
		            </div>
		            <div class="grayb">
		            	<span >擅长：泰式按摩、精油推背等</span>
		            </div>
		            <div class="gray">
		             	<span >三年经验</span>&nbsp;<span >共接单109单</span>
		            </div>
		       </li>
		    </ul>
		   
		    <ul class="mui-col-sm-2 mui-col-xs-2 " >
		    	<li class="" style="padding: 11px 8px 11px 0;margin: 0;">
		            <div class="green textcenter">
		            	<span >￥</span><span class="zihao16 ftw700">128</span>
		            </div>
		            <div class="zihao14 textcenter ">去看看</div>
		         </li>    
		    </ul>
		</div>     
   		</li>
   	</ul>
<!--feet-->
<div class="mui-content bgwhite kongxi selectpading boderbuttom feetbox ">
	    <div class="mui-row" style="padding-top: 8px;">
	        <div class="mui-col-sm-3 mui-col-xs-3">
		            <li class="textcenter" >
		               	<span class="iconfont icon-shouye_shouye feetgray "></span>
		              <div class="matop">首页</div>
		            </li>
		    </div>
	        <div class="mui-col-sm-3 mui-col-xs-3">
		            <li class=" textcenter" >
		             	<span class="iconfont icon-jishi feetgray "></span>
		               <div class="matop">技师</div>
		            </li>
		    </div>
		    <div class="mui-col-sm-3 mui-col-xs-3">
		            <li class=" textcenter" >
		                	<span class="iconfont icon-dingdan feetgray "></span>
		               <div class="matop">订单</div>
		            </li>
		    </div>
		    <div class="mui-col-sm-3 mui-col-xs-3">
		            <li class=" textcenter" >
		                	<span class="iconfont icon-wo feetgray"></span>
		                    <div class="matop">我的</div>
		            </li>
		    </div>
	    </div>	   
	</div>
	
	<!--<div class="mui-backdrop">
		<div class="widthauto bggreen conp white">
			<div class="width_ns con_justify">
				<div>
					<span>青岛</span>
					<span  class="mui-icon mui-icon-arrowdown"></span>
				</div>
				<div class="textcenter">
					<span>技师列表</span>
				</div>
				<div>
					<span class="iconfont icon-1"></span>
				</div>
			</div>
		</div>
		<div class="mui-content bgwhite kongxi selectpading boderbuttom" style="margin-top: 0;">
			    <div class="mui-row">
			        <div class="mui-col-sm-3 mui-col-xs-3" id="li">
				            <li class="mui-table-view-cell textcenter" style="margin: 0; padding: 0;">
				                <div class="boderright">
				                <span class="grayw">全部</span>	<span class="iconfont icon-shangla graymost"></span>
				                </div>
				            </li>
				    </div>
			        <div class="mui-col-sm-3 mui-col-xs-3">
				            <li class="mui-table-view-cell textcenter" style="margin: 0; padding: 0;">
				                <div class="boderright">
				                 <span class="grayw">全国</span>	<span class="iconfont icon-shangla graymost"></span>
				                </div>
				            </li>
				    </div>
				    <div class="mui-col-sm-3 mui-col-xs-3">
				            <li class="mui-table-view-cell textcenter" style="margin: 0; padding: 0;">
				                <div class="boderright">
				                	<span class="grayw">年龄</span><span class="iconfont icon-shangla graymost"></span>
				                </div>
				            </li>
				    </div>
				    <div class="mui-col-sm-3 mui-col-xs-3">
				            <li class="mui-table-view-cell textcenter" style="margin: 0; padding: 0;">
				                <div >
				                	<span class="grayw">经验</span><span class="iconfont icon-shangla graymost"></span>
				                </div>
				            </li>
				    </div>
			    </div>	   
	    </div>	
	    
	    <ul class="mui-table-view" id="lii">
		    <li class="mui-table-view-cell">全部 
		    	<span class="tight"> 60</span>
		    </li>
		    <li class="mui-table-view-cell">按摩
		    	<span class="tight"> 60</span>
		    </li>
		    <li class="mui-table-view-cell">足疗
		    <span class="tight"> 60</span>
		    </li>
		    <li class="mui-table-view-cell">推背
		    <span class="tight"> 60</span>
		    </li>
		    <li class="mui-table-view-cell">全身SPA
		    <span class="tight"> 60</span>
		    </li>
       </ul>
       
       <ul class="mui-table-view">
		    <li class="mui-table-view-cell">全国
		    <span class="tight"> 60</span>
		    </li>
		    <li class="mui-table-view-cell">华南
		    <span class="tight"> 60</span>
		    </li>
		    <li class="mui-table-view-cell">华东
		    <span class="tight"> 60</span>
		    </li>
		    <li class="mui-table-view-cell">东北
		    <span class="tight"> 60</span>
		    </li>
		    <li class="mui-table-view-cell">西南
		    <span class="tight"> 60</span>
		    </li>
		    <li class="mui-table-view-cell">华北
		    <span class="tight"> 60</span>
		    </li>
		    <li class="mui-table-view-cell">西北
		    <span class="tight"> 60</span>
		    </li>
       </ul>
       
       <ul class="mui-table-view">
		    <li class="mui-table-view-cell">全国
		    <span class="tight"> 60</span>
		    </li>
		    <li class="mui-table-view-cell">18-22
		    <span class="tight"> 60</span>
		    </li>
		    <li class="mui-table-view-cell">23-26
		    <span class="tight"> 60</span>
		    </li>
		    <li class="mui-table-view-cell">27-32
		    <span class="tight"> 60</span>
		    </li>
		    <li class="mui-table-view-cell">32-50
		    <span class="tight"> 60</span>
		    </li>
		   
       </ul>
       
       <ul class="mui-table-view">
		    <li class="mui-table-view-cell">全部
		    <span class="tight"> 60</span>
		    </li>
		    <li class="mui-table-view-cell">0-2年
		    <span class="tight"> 60</span>
		    </li>
		    <li class="mui-table-view-cell">2-4年
		    <span class="tight"> 60</span>
		    </li>
		    <li class="mui-table-view-cell">4-6年
		    <span class="tight"> 60</span>
		    </li>
		    <li class="mui-table-view-cell">6年以上
		    <span class="tight"> 60</span>
		    </li>
		   
       </ul>
	</div>  -->

</body>

</html>