<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="/Public/Home/css/mui.min.css" rel="stylesheet" />
		<link href="/Public/Home/css/mui.css" rel="stylesheet" />
		<link href="/Public/Home/css/mine.css" rel="stylesheet"/>
		<link rel="stylesheet" href="/Public/Home/fonts/iconfont.css" />
	</head>

	<body>
		<script src="/Public/Home/js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
		
		<div class="widthauto bggreen conp white">
			<div class="width_ns con_justify">
				<div>
					<span>青岛</span>
					<span  class="mui-icon mui-icon-arrowdown"></span>
				</div>
				<div class="textcenter">
					<span>我的</span>
				</div>
				<div>
					<span class="iconfont icon-kefu"></span>
				</div>
			</div>
		</div>
		
		<div class="widthauto bggreen  white">
			<div>
				<img src="/Public/Home/img/weidenglv.png"  class="imgyuan myimg"/>
			</div>
			<div class="textcenter conp">
				账户：<span>未登录</span>
			</div>
		</div>
		
		<div class=" myi widthauto con_justify mymap3">
			<a  class="ac width_nz greenboder green textcenter padt" href="{:U('User/login')}">
				<i class=" iconfont icon-wo green mymar "></i>用户登录
			</a>
		</div>
		<div class=" myi widthauto con_justify mymap0">
			<div class="width_nz textcenter gray zihao13 ">无需注册，手机微信一步登录</div>
		</div>
		
		<div class="myi widthauto con_justify mymap2">
			<a  class="ac width_nz greenboder green textcenter padt"  href="{:U('Technician/login')}">
				<i class=" iconfont icon-jishi green mymar"></i>技师登录
			</a>	
		</div>
		<div class="myi widthauto con_justify mymap1">
			<bu  class="ac width_nz greenboder green textcenter padt">
				<i class=" iconfont icon-borderspa green mymar"></i>酒店登录
			</a>
		</div>
	</body>

</html>